<form class="form-signin">
    <div class="mb-3 form-floating">
        
        <input type="text" class="form-control" name="username" id="floatingInput" [(ngModel)]="item.name"
            placeholder="Item name" #name="ngModel" required />
        <div *ngIf="name.errors?.required">
            Mention Name
        </div>
        <label for="floatingInput">ITEM_NAME</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="password" id="floatingPassword" #price="ngModel"
            [(ngModel)]="item.price" placeholder="Price" required />
        <div *ngIf="price.errors?.required">
            Mention Price
        </div>
        <label for="floatingPassword">PRICE OF THE ITEM</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="ratings" id="floatingInput" [(ngModel)]="item.ratings"
        placeholder="Item rating" #rating="ngModel" required />
    <div *ngIf="rating.errors?.required">
        Mention Ratings
    </div>
    <label for="floatingInput">RATING FOR THE ITEM</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="delivery" id="floatingPassword" #delivery="ngModel"
            [(ngModel)]="item.delivery" placeholder="delivery" required />
        <div *ngIf="delivery.errors?.required">
            Mention Delivery
        </div>
        <label for="floatingPassword">DELIVERY</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="delivery" id="floatingPassword" #location="ngModel"
            [(ngModel)]="item.location" placeholder="location" required />
        <div *ngIf="location.errors?.required">
            Mention Location
        </div>
        <label for="floatingPassword">DELIVERY LOCATION</label>
    </div>
    <div>
        <button type="submit" class="btn  btn-primary" (click)="addItem()">ADD ITEM</button> |
        <a class="btn btn-secondary" routerLink="/items">GO BACK</a>
    </div>
</form>