<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Kitchen story is the best Place for food Lovers</h3>
            <p>Here we redifine your taste and help u explore more food than ever possible.
               We are commited in making ur food experience more delightful
            </p>
        </div>
    </div>
    <div class="col-sm-3">
        <img src="https://www.expatica.com/app/uploads/sites/6/2014/05/Eintopf-1920x1080.jpg" width="1000px" height="450px">

    </div>

</div>