<div class="card">
    <div class="card-header">
        Details of <b>{{ item.name }}</b>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>ITEM ID</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>ITEM NAME</th>
                    <td>{{item.name }}</td>
                </tr>

                <tr>
                    <th>ITEM DELIVERY</th>
                    <td>{{ item.delivery}}</td>
                </tr>
                <tr>
                    <th>ITEM LOCATION</th>
                    <td>{{ item.location }}</td>
                </tr>
                <tr>
                    <th>ITEM RATING</th>
                    <td>{{item.ratings}}</td>
                </tr>
                <tr>
                    <th>ITEM PRICE</th>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a routerLink='/items' class="btn btn-secondary">GO BACK</a>
        <a (click)="addToCart(item)" class="btn btn-success" *ngIf="!checkLoginStatus()">ADD TO CART</a>
        <button (click)="deleteItem()" class="btn btn-danger" *ngIf="checkLoginStatus()">DELETE</button>
        <a [routerLink]="['/item-update/', item.id]" class="btn btn-primary" *ngIf="checkLoginStatus()">UPDATE</a>


    </div>
</div>