<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Kitchen Story</h1>
            <p>
                Hello...Welcome to your customized kitchen story.
                Do u Want some delicious food rather than boring daily routine.
                U have landed right into the correct place.
                Order from kitchen story.....ENJOY

            </p>
            <h2>Popular cities in India</h2>
            <p>
                Here are our popular cities in India where we deliver
                Ahmedabad ,Bangalore ,Chennai, Delhi ,Gurgaon ,Hyderabad ,Kolkata Mumbai Pune 
            </p>
        </div>
        <div class="col-5" style="scroll-padding-right: 60px;">
            <img src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZWF0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" style="background-repeat: no-repeat;
            width:800px">
        </div>
    </div>
</div>